@font-face {
    font-family: Corsiva-normal;
    src: url(assets/fonts/Corsiva-normal-400-100.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #faf7f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px; 
}

#menu{
    background-color: #e6edf7;
    border-bottom: 2.5px solid #3399ff; 
    width: 100%;  
    display: flex;
    justify-content: space-around;
    position: fixed;
}

#menu li{
    display: inline-block;
    color: #3399ff;
    line-height:  normal;
    letter-spacing: 1px;
    padding: 10px;
}

#menu ul{
    margin: 0;
}

#buscador{
    text-align: center;
    padding: 6px 15px;
    font-size: 10px;
}

#content{
    width: 65%;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

h1 img{
    max-width: 100%;
    height: 250px;
}

header{
   color: #848484; 
}

#submenu{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around; 
}

#submenu li{
    display: inline-block;
    padding: 0px 20px;
}

#main-aside{
    display: flex;

}

main{
 width: 70%;
 overflow: hidden;
 padding: 15px;
}

aside{
 width: 30%;
 overflow: hidden;
 padding: 15px;
 
}

#fecha{
    color: #adadad;
}


h2{
    font-family: corsiva-normal;
    font-size: 35px;
    line-height: normal;
    letter-spacing: 5px;
    color: #848484;
    text-align: center;
}

p{
    color: #666666;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: justify;
}

h4{
    background-color: #eda0c7;
    color: #d93d8b;
    font-weight: bold;
    text-align: center;
    padding: 0 8px;
}

#redes_sociales{
    width: 90%;
}

#entradas{
    list-style-type: none;
    padding: 0;
}

#entradas li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#entradas li img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

h5{
    color: #3399ff;
}



