body{
    margin: 0;
    padding: 0;
    background-color: #faf7f7;
    
}

#menu{
    background-color: #e6edf7;
    border-bottom: 2.5px solid #3399ff; 
    width: 100%;   
}

#menu li{
    display: inline-block;
    color: #3399ff;
    font-family: Open Sans;
    font-size: 16px; 
    line-height:  normal;
    letter-spacing: 1px;
}

#menu ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#content{
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow: ;
}

#submenu{
    border-bottom: 2px solid black;
}

#submenu li{
   display: inline-block;
  
}

#main-aside{
display: flex;
}

main{
 width: 70%;
}

aside{
 width: 30%;
}



